html{
  background-color: red;
  padding:40px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
    background:white;
  }
  /*primo*/
.grid-container {
    padding-top: 40px;
    display: grid;
    font-size: 100px;
    color:white;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .grid-item-a{
    background:blue;
  }
  .grid-item-b{
    background: rgb(255, 145, 106);
  }
  .grid-item-c{
    background:cyan;
  }
  .grid-item-d{
    background:orangered;
  }
  .grid-item-e{
    background:rgb(5, 173, 151);
  }
  .grid-item-f{background:rgb(247, 16, 105);
  }
   /*secondo*/
   .grid-container2 {
    padding-top: 40px;
    display: grid;
    font-size: 100px;
    color:white;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
.grid-item-1{
  background: rgb(255, 145, 106);
}
.grid-item-2{
  background: cyan;
}
.grid-item-3{
  background:orange;
}
.grid-item-4{
  background:rgb(5, 173, 151);
}
.grid-item-5{
  background:blue;
}
.grid-item-6{background:rgb(247, 16, 105);
}
/*terzo*/
 .grid-container3{
  padding-top: 40px;
    display: grid;
    font-size: 100px;
    color:white;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-areas:
            'a  b  d'
            'e  c  c'
            'f  c  c';
}
.item-1{
  background:blue;
}
.item-2{
  background: rgb(255, 145, 106);
}
.item-3{
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 15rem);
  text-align: center;
  background:rgba(0, 247, 255, 0.863);
  grid-column: 2/4;
  grid-row: 2/4;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 15rem);
    
}

.grid-container3 .item-3 {
    grid-area: c;
 }
  
.item-4{
  background:orangered;
}
.item-5{
  background:mediumseagreen;
}
.item-6{
  background:rgb(247, 16, 105);
}
/*quarto*/
.grid-container4{
  padding-top: 40px;
  display: grid;
  font-size: 100px;
  color:white;
  text-align: center;
  max-width:450px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.color-a{
  background-color: blue;
}
.color-b{
  background: rgb(255, 145, 106);
}
.color-d{
  background-color:cyan;
  grid-area: 2 / 2/ span 2 / span 2;
}
.color-c{
  background-color:orangered;
}

.color-e{
  background-color:mediumaquamarine;
}

.color-f{background:rgb(247, 16, 105);
}
/*quinto*/
.grid-container5{
  padding-top: 40px;
  display: grid;
  font-size: 100px;
  color:white;
  text-align: center;
  max-width:450px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.color-1{
  background-color: blue;
}
.color-2{
  background: rgb(255, 145, 106);
}
.color-3{
  background-color:cyan;
  grid-area: 1 / 1/ span 2 / span 2;
}
.color-4{
  background-color:orangered;
}
.color-5{background:rgb(247, 16, 105);
}
.color-6{
  background-color:mediumaquamarine;
}
/*sesto*/
:root {
  --white-color: #ffffff;
  --black-color: #282828;
  --color-a: #2d41fc;
  --color-b: #df794d;
  --color-c: #5db5e4;
  --color-d: #e68236;
  --color-e: #04ca95;
  --color-f: #eb2f67;
}
.box {
  border-radius: 3px;
  color: var(--white-color);
  font-size: 5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border-radius: 3px;
  color: var(--white-color);
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-a,
.header {
  background-color:blue;
  font-size: 4.6rem;
}
.box-b {
  background-color: var(--color-b);
}
.box-c {
  background-color: var(--color-c);
}
.box-d,
.sidebar,
.box-j {
  background-color: var(--color-d);
}
.box-e,
.footer {
  background-color: var(--color-e);
  font-size: 4.6rem;
}
.box-f,
.contenuto1,
.contenuto2,
.contenuto {
  background-color: var(--color-f);
}

/*sesto*/
.grid-container6 {
      display: grid;
      margin: 2rem auto;
      justify-content: center;
      margin-bottom: 10rem;
       gap: 2rem;
      grid-template-areas:
               'head head head'
               'cont1 cont1 side'
               'cont2 cont2 side'
                'foot foot foot ';
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(4, 8rem);
  }
  .grid-container6 .header {
    grid-area: head;
  }
  .grid-container6 .contenuto1 {
    grid-area: cont1;
  }
  .grid-container6 .contenuto2 {
    grid-area: cont2;
  }
  .grid-container6 .sidebar {
    grid-area: side;
  }
  .grid-container6 .footer {
    grid-area: foot;
  }



/*settimo*/
.grid-container7 {
  display: grid;
  margin: 2rem auto;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 2rem;
  grid-template-areas:
            'head  head head'
            'side  cont cont '
            'adv   cont cont'
            'foot foot foot ';
grid-template-columns: repeat(3, 8rem);
grid-template-rows: repeat(4, 8rem);
}
.grid-container7 .header {
grid-area: head;
}
.grid-container7 .sidebar {
grid-area: side;
}
.grid-container7 .adv1 {
grid-area: adv;
background-color: black;
}
.grid-container7 .contenuto {
grid-area: cont;
font-size: 2.5rem;
}
.grid-container7 .footer {
grid-area: foot;
}

/*ottavo*/
.grid-container8 {
  display: grid;
  margin: 2rem auto;
  justify-content: center;
  margin-bottom: 10rem;
  gap: 2rem;
  grid-template-areas:
            'head  head head'
            'cont  cont side'
            'cont  cont --- '
            'foot  foot foot ';
grid-template-columns: repeat(3, 8rem);
grid-template-rows: repeat(4, 8rem);
}
.grid-container8 .header {
grid-area: head;
}
.grid-container8 .contenuto {
grid-area: cont;
}
.grid-container8 .sidebar{
grid-area: side;
}
.grid-container8 .footer {
grid-area: foot;
}
/*nono*/
.grid-container9 {
  padding-top: 40px;
    display: grid;
    font-size: 100px;
    color:white;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.immaginec {
  background-image: linear-gradient(90deg, #2071a3, #be0c5f);
  order: -2;
}
.immagineg {
  background-color: white;
  border: 1px solid var(--black-color);
  color: var(--black-color);
  order: 1;
}
.immaginej {
  background:orange;
  order: 2;
}
.immaginee{
  background:rgb(5, 173, 151);
  grid-row: span 2;
  order: -1;
}
.immaginea{
  background-image: linear-gradient(120deg, #258ecd, #ff0077);
  order: 3;
}
.immagined{
    background-color: white;
    border: 1px solid var(--black-color);
    color: var(--black-color);
}
.immagineh{
    background-color: white;
    border: 1px solid var(--black-color);
    color: var(--black-color);
    order: 1;
}
.immaginei{
  background-color: rgb(247, 16, 105);
  order: 3;
}
.immaginef{
    background-color: white;
    border: 1px solid var(--black-color);
    color: var(--black-color);
}

.immagineb{
  background: rgb(255, 145, 106);
  order: 1;
}







